<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwj.FinalServer.web.net.mapper.AmMapper">
    <resultMap id="BaseResultMap" type="com.lwj.FinalServer.model.entity.Am">
        <id property="amid" column="AMId" />
        <result property="academy" column="Academy" />
        <result property="major" column="Major" />
    </resultMap>

    <sql id="Base_Column_List">
        AMId,Academy,Major
    </sql>
</mapper>
